* {
  box-sizing: border-box;
}
a {
  color: #000;
  font-weight: 700;
}
p {
  margin: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input {
  width: 100%;
  border: none;
  background: none;
  padding: 2px;
}
body {
  font-size: 12px;
  line-height: 16px;
}
.wrapper {
  padding: 0 15px;
}

.left {
  width: 50%;
  float: left;
}
.right {
  width: 50%;
  float: right;
}
.header {
  text-align: center;
  overflow: hidden;
  margin-bottom: 5px;
}
.header .title {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
hr {
  margin: 0;
  border-color: #000;
}
.header .subtitle b {
  font-style: italic;
}
.disclaimer {
  margin-bottom: 5px;
}
.disclaimer .inner {
  padding: 0 1px 1px;
  overflow: hidden;
  border: 2px solid #000;
}
.disclaimer .inner .left,
.disclaimer .inner .right {
  width: 50%;
  padding: 2px 25px;
  border: 1px solid #000;
  font-weight: 700;
}
.disclaimer .inner .left {
  border-right: 0;
}
.form {
  overflow: hidden;
}
.month {
  margin-bottom: 10px;
  overflow: hidden;
}
.left .bordered {
  float: right;
  margin-right: 5px;
}
.right .bordered {
  float: left;
  margin-left: 5px;
}
.form .right .form_number {
  float: right;
}
.form .right .form_number .bordered {
  width: auto;
}
.bordered {
  width: 275px;
  display: inline-block;
  text-align: center;
  border: 2px solid #000;
  text-transform: uppercase;
  font-weight: 700;
}
.decree {
  margin-bottom: 5px;
  overflow: hidden;
}
.decree .right .inner,
.decree .left .inner {
  width: 320px;
  padding: 0 5px;
  border: 2px solid #000;
}
.decree .right .inner {
  float: left;
  margin-left: 5px;
}
.decree .left .inner {
  float: right;
  margin-right: 5px;
}

.report {
  width: 80%;
  margin: 0 auto 5px;
  text-align: center;
  border: 2px solid #000;
}
.presentation {
  overflow: hidden;
  margin-bottom: 5px;
}
.presentation .left,
.presentation .right {
  width: 49.5%;
  min-height: 85px;
  padding: 0 5px;
  border: 2px solid #000;
}

.organization_form {
  margin-bottom: 10px;
  border: 2px solid #000;
}
.organization_form .top {
  overflow: hidden;
  border-bottom: 1px solid #000;
}
.organization_form td {
  width: 30px;
  border: 2px solid #000;
  border-top: 0;
}
.organization_form .top td:last-child {
  border-right: 0;
}
.organization_form_row {
  padding: 0 0 0 5px;
  overflow: hidden;
  border-bottom: 1px solid #000;
}
.organization_form .top table {
  float: right;
}
.organization_form .organization_form_row td {
  border-top: 2px solid #000;
}
.organization_form .organization_form_row table {
  float: right;
}
.organization_form .organization_form_row.coate {
  padding: 2px 5px;
}
.organization_form
  .organization_form_row.coate
  .organization_form_cell:first-child {
  float: left;
}
.organization_form
  .organization_form_row.coate
  .organization_form_cell:last-child {
  float: right;
}
.organization_form_row.address {
  padding: 2px 5px;
}
.organization_form_row.address .organization_form_cell {
  float: left;
}
.organization_form_row.address .organization_form_cell:first-child {
  margin-right: 200px;
}
.organization_form_row.address .organization_form_cell:last-child {
  float: right;
}
.organization_form_row.activities input {
  max-width: 200px;
}
.date {
  overflow: hidden;
}
.date input {
  border-bottom: 1px solid #000;
}
#day {
  width: 40px;
}
#month {
  width: 110px;
}
#year {
  width: 15px;
}
#surname {
  width: 220px;
}
#chief {
  width: 400px;
}
#chief_sign {
  position: relative;
  margin-left: 50px;
}
#chief_sign input {
  width: 130px;
}
#chief_sign .sign_text {
  position: absolute;
  bottom: -25px;
  left: 0;
}
.coords {
  margin-bottom: 10px;
}
.coords input {
  border-bottom: 1px solid #000;
}
#coords_phone {
  width: 65px;
}
#coords_fax {
  width: 115px;
}
#coords_email {
  width: 165px;
}
.indications {
  overflow: hidden;
  margin-bottom: 10px;
}
.indications .title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}
.indications .left {
  padding-right: 5px;
}
.indications .right {
  padding-left: 5px;
}
.workers_count td,
.workers_count th {
  border: 1px solid #000;
}
.workers_count > table tr td:nth-child(2) {
  text-align: center;
  width: 63px;
}
.workers_count > table tr td:nth-child(3),
.workers_count > table tr td:nth-child(4),
.workers_count > table tr td:nth-child(5),
.workers_count > table tr td:nth-child(6) {
    text-align: center;
}
.vertical {
  transform: rotate(-90deg);
  display: block;
  white-space: nowrap;
  width: 28px;
  margin-top: 62px;
}
.inner_table {
  width: 100%;
}
.workers_count > table tr td .additional_cell {
  width: 1%;
}
.all_cell {
  width: 16%;
}
.all_last {
  width: 14.5%;
}


.workers_count {
    margin-bottom: 15px;
}
.workers_count th span {
    display: block;
}


.work_time table {
    width: 100%;
}
.work_time td, .work_time th {
    border: 1px solid #000;
    font-weight: 400;
    padding: 5px;
}
.work_time th span {
    display: block;
}







.pay_info {
    margin-bottom: 20px;
}
.pay_info table {
    width: 80%;
}
.pay_info td, .pay_info th {
    padding: 0 5px;
    width: 9%;
    border: 1px solid #000;
}
.pay_info td:first-child {
    width: 12%;
}
.pay_info td:last-child {
    width: 15%;
}
.pay_info td:nth-child(2) {
    width: 17%;
}

.wage {
    margin-bottom: 20px;
}
.wage table {
    width: 100%;
    text-align: center;
}
.wage td, .wage th {
    padding: 0 5px;
    border: 1px solid #000;
}
.wage td:first-child {
    width: 45px;
}

.fund {
    margin-bottom: 20px;
}
.fund table {
    width: 100%;
    text-align: center;
}
.fund td, .fund th {
    padding: 0 5px;
    border: 1px solid #000;
}
.fund td:first-child {
    width: 45px;
}
.fund td.colspan, .wage td.colspan {
    width: auto;
}

.statement {
    margin-bottom: 50px;
}
.statement td, .statement th {
    padding: 0 5px;
    border: 1px solid #000;
}
.statement td:first-child {
    text-align: center;
    width: 30px;
}

.categories {
    overflow: hidden;
    margin: 0 0 50px 50px;
}
.categories ul {
    padding-left: 0;
}
.categories .column {
    float: left;
    padding-left: 100px;
}
.categories .column:first-of-type {
    padding-left: 0;
}
.categories .column:last-of-type .column_title {
    display: inline-block;
    margin-bottom: 15px;
}
.categories li {
    list-style: none;
}

.column_title {
    font-size: 15px;
    line-height: 19px;
}

h1 {
    padding: 0 0 20px;
    margin: 0;
    text-align: right;
    font-size: 15px;
}
.date_rows {
    padding-bottom: 30px;
}
.date_row {
    text-align: right;
}
.date_row span {
    display: inline-block;
    width: 200px;
}
.statement_footer table {
    width: 80%;
    margin: 0 auto;
}
.statement_footer input {
    border-bottom: 1px solid #000;
}
.statement_footer td {
    padding: 10px 60px;
}